@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4"> <i class="fa-solid fa-book-open"></i> Book Registation System</h1>
    <p>Task <a href="https://docs.microsoft.com/aspnet/core">P514</a>.</p>
</div>
