
@model List<Publisher>
@{
    ViewData["Title"] = "Index";
}

<partial name="_ShowResult" />

<div class="page-container mt-5">
    <div class="row">
        <div class="col-6 text-end">
            <a class=" text-dark btn btn-success" asp-area="" asp-controller="Publisher" asp-action="Create">Create Publisher</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover table-bordered table-striped mt-5">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a class=" text-dark btn btn-warning" asp-area="" asp-controller="Publisher" asp-action="Update" asp-route-id="@item.Id">Update Publisher</a>
                        </td>
                        <td>
                            <a class=" text-dark btn btn-danger" asp-area="" asp-controller="Publisher" asp-action="Delete" asp-route-id="@item.Id">Delete Publisher</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



